<mat-sidenav-container class="h-100">
  <mat-sidenav [mode]="'over'" #sidenav  class="sidebar"><mat-toolbar><span>Numberic</span></mat-toolbar>
    <div class="container mt-3">
      <p class="text-left">초설정</p>
      <mat-slider class="w-100" [max]="10" [step]="1" [thumbLabel]="true" [tickInterval]="1" [(ngModel)]="numberService.countStandard"></mat-slider></div>
  </mat-sidenav>
<mat-sidenav-content  class="bg-white">
<div class="container-fluid p-5 h-100 d-flex flex-column justify-content-around">
  <h1 class="text-center m-2 mat-board"><span class="math-item-card" *ngFor="let item of math.result"
                                                             [ngClass]="{'operator': item.type === mathType.Operator, 'number': item.type === mathType.Number}"></span>
  </h1>
  <div class="row d-flex">
    <mat-card class="col-6 text-center hover text-primary p-5 font-weight-bold" (click)="addNumber()"><h2>(1~9)숫자</h2></mat-card>
    <mat-card class="col-6  text-center hover text-success p-5 font-weight-bold" *ngIf="(addMatItem$|async)?.type
      === mathType.Number" (click)="addOperator()"><h2>(&#43;,&#8722;,&#215;,&#247;)연산자</h2></mat-card>
  </div>
  <p class="text-info text-center font-weight-bold">(답은 소수점 1자리까지, 반올림해서 말해도 됩니다!)</p>
  <div class="d-flex justify-content-between m-5">
    <button class="w-25 h-25" mat-raised-button color="accent"
            (click)="reset()">Reset
    </button>
    <button class="w-25 h-25" mat-raised-button color="accent"
            [disabled]=" (math.result)?.length < 3 || (addMatItem$|async)?.type
      === mathType.Operator" (click)="onCheckDialog()">&#61;
    </button>
  </div>
  <div class="row">
    <button mat-button (click)="sidenav.toggle()">설정</button>
  </div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
