:host {
  h1{
    text-align: center;
  }
  .timer-text {
    text-align: center;
    font-family: 'Digital';
    font-size: 150px;
    font-weight: 300;
    font-style: normal;
  }
  .formula-text {
    font-size: 100px;
    line-height: 90px;
    >*{
      width: 50px;
    }
  }
  .result-text {
    min-height: 90px;
    font-size: 80px;
  }
}
