<div class="container-fluid h-100 text-center d-flex flex-column justify-content-center align-items-center">
  <!--<h1 class="text-secondary">선택해주세요</h1>-->
  <!--<div class="row">-->
  <mat-card routerLink="/p1" class="text-center hover text-success p-5 d-flex align-items-center"><i class="fas fa-gamepad fa-5x"></i><span class="add-robo fa-4x">Play</span></mat-card>
    <!--<mat-card  routerLink="/signup" class="col-6 text-center hover text-secondary p-5"><i class="fas fa-user fa-5x">셀가입</i></mat-card>-->
  <!--</div>-->
</div>

